<div class="sub-content">
    <form role="form">
        <div class="form-group col-md-8" style="display: inline-block">
            <label for="examName">Exam Name</label>
            <input class="form-control" type="text" name="examName" id="examName" ng-model="exam.examName"/>
        </div>
        <div class="form-group col-md-4">
            <label for="supervisor">Supervisor</label>
            <input class="form-control" type="text" name="supervisor" id="supervisor" ng-model="exam.supervisor"/>
        </div>
        <div class="form-group col-md-4">
            <label for="subject">Subject</label>
            <input class="form-control" type="text" name="subject" id="subject" ng-model="exam.subject"/>
        </div>

        <div class="form-group col-md-4">
            <label for="date">Date</label>
            <input class="form-control" type="date" name="date" id="date" ng-model="exam.date"/>
        </div>
        <div class="form-group col-md-4">
            <label for="time">Time</label>
            <input class="form-control" type="time" name="time" id="time" ng-model="exam.time"/>
        </div>
        <div class="form-group col-md-4">
            <label for="venue">Venue</label>
            <input class="form-control" type="text" name="venue" id="venue" ng-model="exam.venue"/>
        </div>
        <div class="form-group col-md-4">
            <label for="duration">Duration</label>
            <input class="form-control" type="text" name="duration" id="duration" ng-model="exam.duration"/>
        </div>

        <div class="form-group col-md-4">
            <label for="sections">Sections</label>
            <input class="form-control" type="number" name="sections" id="sections" ng-model="exam.sections"/>
        </div>
        <div class="form-group col-md-4">
            <label for="noOfQuestions">Number of Questions</label>
            <input class="form-control" type="number" name="noOfQuestions" id="noOfQuestions"
                   ng-model="exam.noOfQuestions"/>
        </div>
    </form>
</div>