<!DOCTYPE html>
<html>
<head>
    <title>SolveIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.js"></script>
    <script src="/javascripts/appScript.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body ng-app="AppModule">
<div class="body">
    <ui-view></ui-view>
</div>
</body>
</html>
