* {
    margin: 0px;
    padding: 0px;
}

html, body, .content {
    min-height: 100% !important;
    height: 100%;
}

body{
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("../images/back3.jpg") fixed;
    background-size: cover;

}
.body{
    padding: 0px 10% 0px 10%;
    width: 100%;
    overflow: visible;
}

.login-register{
    background-color: ghostwhite;
}

a {
    color: #00B7FF;
}

.my-centered {
    float: left;
    margin: auto;
}

.my-padding-container {
    padding: 30px 50px 30px 50px;
}

.my-topMargin{
    margin-top: 40px;
}

.my-error {
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
}

.my-round-corners {
    border-radius: 1px;
    border: #cccccc solid 1px;
}
.glyphicon-remove-circle {
    cursor: pointer;
    margin-right: 10px;
}

.my-circle {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    background-image: url('./../images/prof.jpg');
    background-size: cover;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px #f8f8ff;
}
.my-header{
    background-color: ghostwhite;
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding-right: 100px;
    padding-left:50px;
}
.logo{
    font-size: 50px;
    text-shadow: 0px 5px 15px #aaa;
}
.logo-part-one{
    color: #337AB7;
}
.logo-part-two{
    color: #777777;
}
.tag-line{
    float: right;
}
.tag-line-text{
    font-size: 14px;
    text-shadow: 0px 1px 15px #aaa;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.my-navBar{
    background-color: #337AB7;
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 50px;
    float: right;
}
li{
    list-style: none;
}
ul{
    margin: 0px;
}
.list{
    line-height: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: ghostwhite;
    float: right;
    padding: 0px;
    width: 12%;
    letter-spacing: 1px;
    border-top: 1px solid #337AB7;
    border-bottom: 1px solid #337AB7;
    text-shadow: 1px 5px 10px #337AB7;
}
.list:hover{
    background-color: ghostwhite;
    color: #337AB7;
    text-shadow: 1px 5px 10px #aaa;
    border-top: 1px solid #337AB7;
}
.list a{
    text-decoration: none;
    color: ghostwhite;
    display: block;
    width: 100%;
}
.list a:hover{
    color: #337AB7;
}
.my-hr{
    background-color: ghostwhite;
    width: 100%;
    height: 2px;
}
.my-container{
    background-color: ghostwhite;
    width: 100%;
    overflow: auto;
    overflow: hidden;
}

.my-textView{
    line-height: 30px;
}
.my-cardView{
    background-color: ghostwhite;
    border: solid 1px #888888;
    margin: 1%;
    padding: 10px 10px 10px 20px;
    width: 48%;
    float: left;
}
.my-cardInfo{
    width: 50%;
    text-indent: 15px;
    line-height: 20px;
    float: left;
}
.my-cardHead{
    text-indent: 10px;
    line-height:30px;
    font-size: 14px;
    font-weight: 600;
}
.content-header{
    width: 100%;
}
.content-heading{
    width: 49%;
    float: left;
    line-height: 55px;
    font-size: 20px;
    text-indent: 50px;

}
.options{
    width: 49%;
    float: left;
    margin: 10px;
}
.option-list{
    float: right;
    cursor: pointer;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 20px 20px ;
    background-position: center;
}
.option-list:hover{
    border: 1px #222 solid;
}
.option-list:active {
    border: 1px #222 solid;
    box-shadow: 1px 1px 5px;
}
.search-text{
    float: right;
    height: 35px;
    width: 400px;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}
.my-button-row{
    margin: auto;
}
.my-button{
    float: right;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: center;
}
.my-button:hover{
    border: 1px #222 solid;
}
.my-button:active {
    border: 1px #222 solid;
    box-shadow: 1px 1px 5px;
}
.tooltip{
    opacity: 1;
    position: relative;
    display: inline-block;
}
.tooltip .tooltip-text{
    visibility: hidden;
    width: 80px;
    border-radius: 1px;
    letter-spacing: 1px;
    overflow: auto;
    height: 20px;
    line-height: 20px;
    background-color: #337AB7;
    box-shadow: #337AB7 1px 1px 5px;
    text-align: center;
    font-size: 11px;
    color: ghostwhite;
    position: absolute;
    z-index: 1000;
    margin: 25px 0px 0px -80px;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
}
.content{
    margin: 20px 0px 0px 0px ;
    padding: 50px;
    height: 100%;
}
.content-header{
    padding: 0px 30px 0px 30px;
}
.sub-content{
    padding: 0px 30px 0px 30px;
}
.my-footer{
    height: 40px;
    width: 100%;
    background-color: #337AB7;
    border-bottom: ghostwhite 5px solid;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    color: ghostwhite;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-shadow: 0px 3px 25px ghostwhite;
}
/*Modal Styles Start*/
.my-modal{
    display: none;
    padding: 5% 20% 5% 20%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.my-modal-head{
    background-color: #337AB7;
    color: ghostwhite;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    text-indent: 40px;
    border-radius: 1px 1px 0px 0px;
}
.my-modal-content{
    background-color: ghostwhite;
    padding: 20px;
    width: 100%;
    color: black;
    overflow: auto;
}
.my-modal-footer{
    background-color: ghostwhite;
    width: 100%;
    border-top: 1px solid gainsboro;
    height: 30px;
    padding: 3px;
    font-size: 15px;
    line-height: 30px;
    text-indent: 10px;
    border-radius: 0px 0px 1px 1px;
}
/*Modal Styles End*/